<% layout('layouts/boilerplate') %>
<main class="container-lg col-lg-8 col-md-10 my-3">
    <!-- <div class="container-lg my-3">
        <h1 class="text-center">ניהול טפסים</h1>
    </div> -->
    <div class="container-lg my-3">
        <h1 class="text-center">ניהול הטופס</h1>
    </div>

    <!-- Modal --> <!-- TODO Move to modals file, make sure no name collisions -->
    <!-- <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">מחיקת טופס</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>האם למחוק את הטופס?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary ms-3"
                        data-bs-dismiss="modal">להשאיר</button>
                    <button type="button" id="btnModalDel" class="btn btn-sm btn-outline-danger ms-3"
                        data-bs-dismiss="modal">למחוק</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row m-3 d-flex justify-content-center">
        <div class="col border border-primary rounded mb-3  mx-1">
            <div class="row d-flex justify-content-center">
                <div class="col p-2 text-center">
                    <h5 class="m-0 align-items-center">מצב הטופס</h5>
                </div>
                <div class="col p-2 text-center my-auto">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnOnLine" autocomplete="off">
                        <label class="btn btn-sm btn-outline-primary" for="btnOnLine">זמין</label>
                    
                        <input type="radio" class="btn-check" name="btnradio" id="btnOffLine" autocomplete="off">
                        <label class="btn btn-sm btn-outline-secondary" for="btnOffLine">כבוי</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 border border-primary rounded mb-3 mx-1">
            <div class="row d-flex justify-content-center">
                <div class="col p-2 text-center my-auto">
                    <a id="form-url" href="#" target="_blank">פתיחת הטופס</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-center border border-primary rounded">
        <div class="d-flex justify-content-around m-2">
            <div>
                <h4>קודים לגישה</h4>
            </div>
            <div id="newBtn" class="btn btn-primary btn-sm">יצירת קוד חדש</div>
        </div>
        <div class="table-responsive">
            <table id="table" class="table table-striped table-hover">
                <thead>
                    <th>מס&quot;ד</th>
                    <th>קוד</th>
                    <th>לינק מלא</th>
                    <th>העתקה</th>
                    <th>מחיקה</th>
                </thead>
                <tbody id="tbody1">
                </tbody>
            </table>
        </div>
    </div>


    <!-- <div class="row m-3 d-flex justify-content-center">
        <div class="col border border-primary rounded mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col p-2 text-center my-auto">
                    <h5 class="m-0">הוספת הודעה שתוצג בטופס</h5>
                </div>
                <div class="col-sm-4 p-2 text-center my-auto">
                    <button type="button" class="btn btn-primary" id="msgUpdateBtn">פרסום ההודעה</button>
                </div>
            </div>
            <div class="row d-flex justify-content-center text-center p-2">
                <p>ניתן להוסיף לטופס הודעה קצרה שתופיע לכולם.</br>
                    לביטול ההודעה - פרסם הודעה ללא טקסט.</p>
            </div>
            <div class="row d-flex justify-content-center p-2">
                <textarea class="form-control" id="textarea" rows="2" maxlength="50" placeholder="ההודעה ריקה כרגע, ולכן לאחר הפרסום לא תוצג אף הודעה."></textarea>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="container-lg">
        <div class="row mb-3 d-flex align-items-center border border-primary rounded">
            <div class="col-4 p-2 text-center">
                <h5 class="m-0">יצירת טופס חדש</h5>
            </div>
            <div class="col-2 p-2 d-flex justify-content-center">
                <p class="m-0">עבור שבוע:</p>
            </div>
            <div class="col-2 p-2 d-flex justify-content-center">
                <%- //include('../partials/weekPicker') %>
            </div>
            <div class="col-2 p-2 d-flex justify-content-center">
                <div id="newBtn" class="btn btn-primary btn-sm">יצירה</div>
            </div>
        </div>
    </div> -->
    <!-- <div class="container-lg mb-3 align-items-center">
        <div class="row mb-3 d-flex align-items-center border border-primary rounded">
            <div class="col-4 p-2 text-center">
                <h5 class="m-0">סינון טפסים</h5>
            </div>
            <div class="col-4 p-2 d-flex justify-content-center">
                <div class="btn-group btn-group-sm" role="group" aria-label="radio toggle button group">
                    <input type="radio" class="btn-check" name="radio-filter" id="radio-active" value="on"
                        autocomplete="off">
                    <label class="btn btn-outline-primary" for="radio-active">רק פעילים</label>
                    <input type="radio" class="btn-check" name="radio-filter" id="radio-neutral" value=""
                        autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="radio-neutral">לא משנה</label>
                    <input type="radio" class="btn-check" name="radio-filter" id="radio-inactive" value="off"
                        autocomplete="off">
                    <label class="btn btn-outline-primary" for="radio-inactive">רק לא פעילים</label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center border border-primary rounded">
            <div class="table-responsive">
                <table id="table" class="table table-striped table-hover">
                    <thead>
                        <th>מס&quot;ד</th>
                        <th>מס&#39; מזהה</th>
                        <th>שנה</th>
                        <th>שבוע</th>
                        <th>מתאריך</th>
                        <th>עד תאריך</th>
                        <th>פעולות</th>
                        <th>לינק</th>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</main>
<script>
    const isLiveData = '<%- isLive %>';
</script>
<script defer src="../scripts/formsControl.js"></script>